<!DOCTYPE html>
<html>
<head>
  <title>Cart engine</title>
  <%= stylesheet_link_tag    "cart/engine/application", media: "all" %>
  <%= javascript_include_tag "cart/engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
